<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Simple-diverse-portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/pagelayout.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/menuitems.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/searchbar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/header.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/content.css" />

	<link rel="stylesheet" type="text/css" media="screen" href="css/fontawesome-pro-5.10.0.all.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/websiteFont.css" />
	<script src="js/theme.js"></script>
	<script src="js/startTheme.js"></script>
	<script src="js/main.js"></script>
	<script src="js/postoverview.js"></script>
</head>

<body>
	<div class="gridcontainer">
		
		<div class="header">
			<span class="title">Portfolio</span>
			<span class="subtitle">the different faces of mine</span>
		</div>
		<div class="search">
			<input type="text" placeholder="SEARCH" />
		</div>
		<div class="menu">
			<div class="menucontainer">
				<span class="menuItem"><a href="postoverview1.html">Menu Item 1</a></span>
				<span class="menuItem"><a href="postoverview2.html">Menu Item 2</a></span>
				<span class="menuItem"><a href="postoverview3.html">Menu Item 3</a></span>
			</div>
		</div>
		<div class="content"> <!-- no whitespace between the project divs please -->
			<div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubida.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div>
			<div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adsf.ch">Generative computer graphics</a></div>
					<div class="projectCategory">
						<a href="dubid1a.html">Software</a>
					</div>
					<div class="projectDescription">
						The Project is available here https://thecell.github.io/gencg-17-TheCell/.
					</div>
				</div>
				<a href="https://adsf.ch">
					<div class="projectTitleImage" id="genArtBG"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubid2a.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubida3.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubid4a.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://test.ch">lost in transmission</a></div>
					<div class="projectCategory">
						<a href="dubid5a.html">Games</a>
					</div>
					<div class="projectDescription">
						Trapped on a mysterious island full of riddles and puzzles, the players will soon discover that they are both working
						with incomplete information and need to communicate in order to escape.
					</div>
				</div>
				<a href="https://test.ch">
					<div class="projectTitleImage" id="lostInTransisionBG"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubi6da.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubi7da.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div><div class="project">
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubi8da.html">Physical Prjects</a>
					</div>
					<div class="projectDescription">
						Tetris is the game our Team of 2 made during the Ludicious19 Workshop.
					</div>
				</div>
				<a href="https://adasdsf.ch">
					<div class="projectTitleImage"></div>
				</a>
			</div>
			<span class="f_high">f_high</span>
			<span class="f_med">f_med</span>
			<span class="f_low">f_low</span>
			<span class="f_inv">f_inv</span>
			<span class="b_high">b_high</span>
			<span class="b_med">b_med</span>
			<span class="b_low">b_low</span>
			<span class="b_inv">b_inv</span>
		</div>
	</div>
	<!--
	<div class="header">
		<div class="titlepart">
			<span class="title">Portfolio</span>
			<span class="subtitle">the different faces of mine</span>
		</div>
		<div class="searchfield ">
			<input type="text" placeholder="SEARCH" />
		</div>
	</div>
	<div class="menu">
		<a href="postoverview.html">Menu Item 1</a>
		<a href="postoverview.html">Menu Item 2</a>
		<a href="postoverview.html">Menu Item 3</a>
	</div>
	<div class="content">

	</div>
	-->
</body>

</html>