<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Simple-diverse-portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/pagelayout.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/menuitems.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/searchbar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/header.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/content.css" />

	<link rel="stylesheet" type="text/css" media="screen" href="css/fontawesome-pro-5.10.0.all.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/websiteFont.css" />
	<script src="js/theme.js"></script>
	<script src="js/startTheme.js"></script>
	<script src="js/main.js"></script>
	<script src="js/postoverview.js"></script>
</head>

<body>
	<div class="gridcontainer">
		
		<div class="header">
			<span class="title">Portfolio</span>
			<span class="subtitle">the different faces of mine</span>
		</div>
		<div class="search">
			<input type="text" placeholder="SEARCH" />
		</div>
		<div class="menu">
			<div class="menucontainer">
				<span class="menuItem"><a href="postoverview1.html">Menu Item 1</a></span>
				<span class="menuItem"><a href="postoverview2.html">Menu Item 2</a></span>
				<span class="menuItem"><a href="postoverview3.html">Menu Item 3</a></span>
				<span class="menuItem"><a href="postoverview3.html">Menu Item 3</a></span>
			</div>
		</div>
		<div class="content"> <!-- no whitespace between the project divs please -->
			<div class="project">
				yay
			</div><div class="project">
				yay
			</div><div class="project">
				yay
			</div><div class="project">
				yay
			</div>
			<span class="f_high">f_high</span>
			<span class="f_med">f_med</span>
			<span class="f_low">f_low</span>
			<span class="f_inv">f_inv</span>
			<span class="b_high">b_high</span>
			<span class="b_med">b_med</span>
			<span class="b_low">b_low</span>
			<span class="b_inv">b_inv</span>
		</div>
	</div>
	<!--
	<div class="header">
		<div class="titlepart">
			<span class="title">Portfolio</span>
			<span class="subtitle">the different faces of mine</span>
		</div>
		<div class="searchfield ">
			<input type="text" placeholder="SEARCH" />
		</div>
	</div>
	<div class="menu">
		<a href="postoverview.html">Menu Item 1</a>
		<a href="postoverview.html">Menu Item 2</a>
		<a href="postoverview.html">Menu Item 3</a>
	</div>
	<div class="content">

	</div>
	-->
</body>

</html>