<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Simple-diverse-portfolio</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" media="screen" href="css/reset.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/main.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/pagelayout.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/menuitems.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/searchbar.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/header.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/content.css" />

	<link rel="stylesheet" type="text/css" media="screen" href="css/fontawesome-pro-5.10.0.all.min.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/theme.css" />
	<link rel="stylesheet" type="text/css" media="screen" href="css/websiteFont.css" />
	<script src="js/theme.js"></script>
	<script src="js/startTheme.js"></script>
	<script src="js/main.js"></script>
	<script src="js/postoverview.js"></script>
</head>

<body>
	<div class="gridcontainer">
		
		<div class="header">
			<span class="title">Portfolio</span>
			<span class="subtitle">the different faces of mine</span>
		</div>
		<div class="search">
			<input type="text" placeholder="SEARCH" />
		</div>
		<div class="menu">
			<div class="menucontainer">
				<span class="menuItem"><a href="postoverview1.html">Menu Item 1</a></span>
				<span class="menuItem"><a href="postoverview2.html">Menu Item 2</a></span>
				<span class="menuItem"><a href="postoverview3.html">Menu Item 3</a></span>
			</div>
		</div>
		<div class="content"> <!-- no whitespace between the project divs please -->
			<div class="singleProjectMeta">
				<div class="projectTitleImage"></div>
				<!-- <img class="projectTitleImage" src="exampleImage.jpg">-->
				<div class="infoOverProject">
					<div class="projectTitle"><a href="https://adasdsf.ch">1D tetris</a></div>
					<div class="projectCategory">
						<a href="dubida.html">Physical Prjects</a>
					</div>
					<div class="projectTags">
						TAGGED
						<a href="dubidaa.html">Epaper</a>
						<a href="dubidab.html">Raspberry</a>
						<a href="dubidac.html">Node</a>
					</div>
					<div class="publishDate">
						PUBLISHED <a href="date.com">23/06/2019</a>
					</div>
					<div class="projectAuthor">
						BY <a href="TheCell.eu">TheCell</a>
					</div>
				</div>
			</div>
			<div class="singleProjectTextAndMedia">
				<p>
					Tetris is the game our Team of 2 (Florian Etgeton (<a href="asdf">@HotPlasticHull</a>) and me) made during the Ludicious19 Workshop by Robin Baumgarten (<a href="asdf">@Robin_B</a>). You can swap colors and brightness. Have 4 leds with the same color and brightness in a row to get a combo. The game will get faster after each combo. It restarts after you lost (the stripe is full). Most of the project was done at the Lucidous and we did some cleanup and Flo designed a case for it to have it permanently working.
				</p>
				<figure class="wp-block-image">
					<img src="https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1024x768.jpg" alt="" class="wp-image-97" srcset="https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1024x768.jpg 1024w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-300x225.jpg 300w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-768x576.jpg 768w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1084x813.jpg 1084w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-361x271.jpg 361w" sizes="(max-width: 1024px) 100vw, 1024px">
				</figure>
				<figure class="wp-block-embed-wordpress wp-block-embed is-type-wp-embed is-provider-thecell-039-s-blog">
					<div class="wp-block-embed__wrapper">
						<blockquote class="wp-embedded-content" data-secret="BysJ08WYEI" style="display: none;"><a href="https://blog.thecell.eu/blog/2019/02/03/1-d-tetris/">1-D Tetris</a></blockquote><iframe title="“1-D Tetris” — TheCell's Blog" class="wp-embedded-content" sandbox="allow-scripts" security="restricted" src="https://blog.thecell.eu/blog/2019/02/03/1-d-tetris/embed/#?secret=BysJ08WYEI" data-secret="BysJ08WYEI" width="600" height="255" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
					</div>
				</figure>
				<p>
					Tetris is the game our Team of 2 (Florian Etgeton (<a href="asdf">@HotPlasticHull</a>) and me) made during the Ludicious19 Workshop by Robin Baumgarten (<a href="asdf">@Robin_B</a>). You can swap colors and brightness. Have 4 leds with the same color and brightness in a row to get a combo. The game will get faster after each combo. It restarts after you lost (the stripe is full). Most of the project was done at the Lucidous and we did some cleanup and Flo designed a case for it to have it permanently working.
				</p>
				<figure class="wp-block-image">
					<img src="https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1024x768.jpg" alt="" class="wp-image-97" srcset="https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1024x768.jpg 1024w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-300x225.jpg 300w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-768x576.jpg 768w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1084x813.jpg 1084w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-361x271.jpg 361w" sizes="(max-width: 1024px) 100vw, 1024px">
				</figure>
				<p>
					Tetris is the game our Team of 2 (Florian Etgeton (<a href="asdf">@HotPlasticHull</a>) and me) made during the Ludicious19 Workshop by Robin Baumgarten (<a href="asdf">@Robin_B</a>). You can swap colors and brightness. Have 4 leds with the same color and brightness in a row to get a combo. The game will get faster after each combo. It restarts after you lost (the stripe is full). Most of the project was done at the Lucidous and we did some cleanup and Flo designed a case for it to have it permanently working.
				</p>
				<p>
					Tetris is the game our Team of 2 (Florian Etgeton (<a href="asdf">@HotPlasticHull</a>) and me) made during the Ludicious19 Workshop by Robin Baumgarten (<a href="asdf">@Robin_B</a>). You can swap colors and brightness. Have 4 leds with the same color and brightness in a row to get a combo. The game will get faster after each combo. It restarts after you lost (the stripe is full). Most of the project was done at the Lucidous and we did some cleanup and Flo designed a case for it to have it permanently working.
				</p>
				<figure class="wp-block-image">
					<img src="https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1024x768.jpg" alt="" class="wp-image-97" srcset="https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1024x768.jpg 1024w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-300x225.jpg 300w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-768x576.jpg 768w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-1084x813.jpg 1084w, https://portfolio.blog.thecell.eu/wp-content/uploads/sites/2/2019/06/IMG_20190326_144257-361x271.jpg 361w" sizes="(max-width: 1024px) 100vw, 1024px">
				</figure>
				<p>
					Tetris is the game our Team of 2 (Florian Etgeton (<a href="asdf">@HotPlasticHull</a>) and me) made during the Ludicious19 Workshop by Robin Baumgarten (<a href="asdf">@Robin_B</a>). You can swap colors and brightness. Have 4 leds with the same color and brightness in a row to get a combo. The game will get faster after each combo. It restarts after you lost (the stripe is full). Most of the project was done at the Lucidous and we did some cleanup and Flo designed a case for it to have it permanently working.
				</p>
			</div>
		</div>
	</div>
	<!--
	<div class="header">
		<div class="titlepart">
			<span class="title">Portfolio</span>
			<span class="subtitle">the different faces of mine</span>
		</div>
		<div class="searchfield ">
			<input type="text" placeholder="SEARCH" />
		</div>
	</div>
	<div class="menu">
		<a href="postoverview.html">Menu Item 1</a>
		<a href="postoverview.html">Menu Item 2</a>
		<a href="postoverview.html">Menu Item 3</a>
	</div>
	<div class="content">

	</div>
	-->
</body>

</html>