.content
{
	display: grid;
	grid-template-columns: repeat(3, calc(100% / 3));
	overflow-y: scroll;
	scrollbar-width: none; /* disable scrollbar firefox */
}

/* disable scrollbar in chrome */
.content::-webkit-scrollbar
{
	display: none;
}

.project
{
	position: relative;
}

.singleProjectMeta
{
	position: relative;
}

.singleProjectTextAndMedia
{
	position: relative;
	display: grid;
	grid-column: 2 / span 2;
	grid-template-columns: repeat(2, calc(100% / 2));
	grid-auto-flow: dense;
}

.singleProjectTextAndMedia p
{
	grid-column: 1;
	color: var(--b_med);
}

.singleProjectTextAndMedia > figure
{
	grid-column: 2;
}

.singleProjectTextAndMedia > *
{
	margin-left: 10px;
	margin-right: 10px;
}

.singleProjectTextAndMedia > figure
{
	margin-right: 30px;
}

.singleProjectTextAndMedia > figure > *
{
	max-width: 100%;
}

.singleProjectTextAndMedia > figure iframe
{
	max-width: 100%;
}

.stickyWrapper
{
	position: sticky;
	top: 0;
}

.singleProjectMeta .projectTitle
{
	margin-top: 5px;
	margin-bottom: 20px;
}

.singleProjectMeta .projectTitleImage
{
	filter: none;
}

.singleProjectMeta .infoOverProject
{
	position: relative;
}

.infoOverProject
{
	position: absolute;
	width: 100%;
	z-index: 1;
	bottom: 0;
	color: var(--b_low);
}

.projectTitleImage
{
	padding-top: 100%;
	background-image: url("../exampleImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	filter: grayscale(100%) contrast(50%);
	
	transition: filter 0.3s;
}

#lostInTransisionBG
{
	background-image: url("../lostintransmission.png");
}

#genArtBG
{
	background-image: url("../genArt.png")
}

.projectTitleImage:hover
{
	filter: none;
}

.infoOverProject:hover ~ .projectTitleImage
{
	filter: none;
}

.infoOverProject > div
{
	margin-top: 5px;
}

.projectTitle > a
{
	color: var(--f_inv);
	font-size: 24pt;
	text-transform: uppercase;
	text-shadow: 2px 2px 0 var(--b_low),
		-1px -1px 0 var(--b_low),
		1px -1px 0 var(--b_low),
		-1px 1px 0 var(--b_low),
		1px 1px 0 var(--b_low);
}

.singleProjectMeta  .projectTitle > a
{
	text-shadow: none;
}

.projectDescription
{
	height: 0;
	padding: 0px;
	transform-origin: 50% 100%;
	transform: scale(1, 0);
	transition: .5s;
	color: var(--b_low);
	background-color: var(--background);
}

.projectCategory
{
	color: var(--b_high);
	font-size: 18pt;
	text-transform: uppercase;
	/*-webkit-text-stroke: 1px var(--b_low);*/
	text-shadow: -1px -1px 0 var(--b_low),
		1px -1px 0 var(--b_low),
		-1px 1px 0 var(--b_low),
		1px 1px 0 var(--b_low);
}

.singleProjectMeta .projectCategory
{
	text-shadow: none;
}

/*
@media (min-width: 1500px)
{
	.content
	{
		grid-template-columns: 500px repeat(2, calc(100% / 3));
	}
}
*/

@media (max-width: 1024px)
{
	
	.singleProjectMeta .projectTitleImage
	{
		padding-top: 50%;
	}
	
	.singleProjectTextAndMedia p
	{
		grid-column: inherit;
	}

	.content
	{
		grid-template-columns: repeat(2, calc(100% / 2));
	}

	.stickyWrapper
	{
		position: relative;
	}

	.singleProjectMeta
	{
		grid-column: 1 / span 2;
	}
	
	.singleProjectTextAndMedia
	{
		grid-column: 1 / span 2;
	}
	
	.singleProjectTextAndMedia > *
	{
		grid-column: 1 / span 2;
		margin-top: 10px;
	}
	
	.singleProjectTextAndMedia > figure
	{
		grid-column: 1 / span 2;
	}

	.projectTitle > a
	{
		font-size: 16pt;
	}

	.projectCategory
	{
		font-size: 12pt;
	}
	
	.singleProjectTextAndMedia > *
	{
		margin-left: 0;
		margin-right: 0;
	}

	.singleProjectTextAndMedia > figure
	{
		margin-right: 0;
	}
}

@media (max-width: 480px)
{
	.content
	{
		grid-template-columns: repeat(1, 100%);
	}

	.projectTitle > a
	{
		font-size: 24pt;
	}

	.projectCategory
	{
		font-size: 16pt;
	}
}