body
{
	color: var(--f_high);
	font-family: 'Lato', sans-serif;
}

input
{
	border-width: 0px;
	outline: 0px;

	background-color: transparent;
	border-bottom: 1px solid;
	border-color: var(--b_low);
	color: var(--b_low);
}

input:focus
{
	border-color: var(--f_med);
	color: var(--b_high);
}

/* full size, no media query */

/* header */

.header
{
	white-space: nowrap;
}

.header > div
{
	white-space: normal;
}

.titlepart
{
	display: inline-block;
	padding-left: 8EM;
	width: calc(50% - 8EM);
}

.titlepart > span
{
	display: block;
}

.titlepart > .title
{
	font-size: 72pt;
	color: var(--f_med);
}
.titlepart > .subtitle
{
	font-size: 36pt;
	padding-left: 3EM;
	color: var(--b_low);
}

.searchfield
{
	display: inline-block;
	width: 50%;
}

@media (max-width: 1024px)
{
	.titlepart
	{
		padding-left: 2EM;
	}
}

@media (max-width: 480px)
{
	/* header */
	.titlepart > .title
	{
		font-size: 48pt;
	}
	.titlepart > .subtitle
	{
		font-size: 21pt;
	}
}